body {
  background-color: whitesmoke;
}

.container {
  height: 500px;
  width: 500px;
  background-color: white;
  position: fixed;
  left: 38%;
  top: 17%;
  border-radius: 20px;
  padding: 30px;
}

.add-btn {
  height: 50px;
  width: 50px;
  background-color: aquamarine;
  position: absolute ;
  bottom: 0;
  border-radius: 100px;
}